# Expo
.expo/
dist/
web-build/
.expo-shared/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env*.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
